/* App.css */
html, body {
    height: 100%;
    margin: 0;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
  }
  
  .content {
    flex: 1; /* Takes up remaining space */
  }
  
  footer {
    color: white;
    text-align: center;
    padding: 10px;
    /* Ensures footer sticks to bottom */
    margin-top: auto; /* Pushes footer to the bottom of the page */
  }
  