# Ignore Python bytecode files and cache
**/__pycache__/

*.py[cod]

# Ignore Django migration files except __init__.py
*/migrations/*
!*/migrations/__init__.py

# Ignore database files
*.sqlite3
db.sqlite3

media/event_images/*
media/profile_images/avatars/*
